table.chess-board(id="chess-board")
  tbody
    tr
      th
      th a
      th b
      th c
      th d
      th e
      th f
      th g
      th h
    tr
      th 8
      td.light &#x265C;
      td.dark &#x265E;
      td.light &#x265D;
      td.dark &#x265B;
      td.light &#x265A;
      td.dark &#x265D;
      td.light &#x265E;
      td.dark &#x265C;
    tr
      th 7
      td.dark &#x265F;
      td.light &#x265F;
      td.dark &#x265F;
      td.light &#x265F;
      td.dark &#x265F;
      td.light &#x265F;
      td.dark &#x265F;
      td.light &#x265F;
    tr
      th 6
      td.light
      td.dark
      td.light
      td.dark
      td.light
      td.dark
      td.light
      td.dark
    tr
      th 5
      td.dark
      td.light
      td.dark
      td.light
      td.dark
      td.light
      td.dark
      td.light
    tr
      th 4
      td.light
      td.dark
      td.light
      td.dark
      td.light
      td.dark
      td.light
      td.dark
    tr
      th 3
      td.dark
      td.light
      td.dark
      td.light
      td.dark
      td.light
      td.dark
      td.light
    tr
      th 2
      td.light &#x2659;
      td.dark &#x2659;
      td.light &#x2659;
      td.dark &#x2659;
      td.light &#x2659;
      td.dark &#x2659;
      td.light &#x2659;
      td.dark &#x2659;
    tr
      th 1
      td.dark &#x2656;
      td.light &#x2658;
      td.dark &#x2657;
      td.light &#x2655;
      td.dark &#x2654;
      td.light &#x2657;
      td.dark &#x2658;
      td.light &#x2656;
