mixin position(cords, color)
    -var positions = cords[0] + cords[1]
    case color
        when true
            td.board-position.light(id=positions onclick="add_piece(this.id)")
        default
            td.board-position.dark(id=positions onclick="add_piece(this.id)")



table.chessboard(id="chessboard")
    - var y_val = 8
    - const  col_letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
    tbody 
        tr.header 
            th 
            each col in col_letters
                th=col
        while y_val > 0
            tr.board-row
                th= y_val
                -var color = true // sets value for alternating color
                if y_val%2 != 0 
                    -color = !color // alternates color on odd row #'s
                each col in col_letters
                    +position([col,y_val], color)
                    -color = !color // switches color for each square
                -y_val -- 






